/*.DS_Store
/out
uiDesigner.xml
.idea/artifacts/itrules_0_5_jar.xml
.idea/artifacts/itrules_jar.xml
.idea/artifacts/rules_engine_jar.xml
res_test/tara.itr
res_test/json/box.json
res_test/json/customformating.json
res_test/json/customformatting.json
res_test/json/eval.json
res_test/json/formatting.json
res_test/json/formatting2.json
res_test/json/helloworld.json
res_test/json/inmiddleearth.json
res_test/json/javaclass.json
res_test/json/nestedframes.json
res_test/json/nestedinterfaces.json
res_test/json/optionalatributes.json
res_test/json/optionalattributes.json
res_test/json/paugasol.json
res_test/json/plural.json
res_test/json/tara.json
.idea/artifacts/itrules_0_2_1_jar.xml
.idea/artifacts/itrules_engine_jar.xml
.idea/artifacts/rules_interpreter_jar.xml
box.itr
.idea/codeStyleSettings.xml
.idea/artifacts/itrules_jar2.xml
.idea/copyright/profiles_settings.xml
.idea/copyright/Siani.xml
millener.itr
