/*.DS_Store
/out
uiDesigner.xml
.idea/artifacts/itrules_0_5_jar.xml
.idea/artifacts/itrules_jar.xml
.idea/artifacts/rules_engine_jar.xml
release/
target/
.idea/artifacts/
.idea/codeStyleSettings.xml
.idea/artifacts/itrules_jar2.xml
.idea/copyright/profiles_settings.xml
.idea/copyright/Siani.xml